* {
    margin: 0;
    padding: 0px;
}

nav {
    width: 100%;
    background-color: darkred;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin: 2vh;
    padding: 2vh;
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.nava {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.nava:hover {
    background-color: darkslategray;
}

main {
    text-align: center;
}

.h2 {
    margin-top: 5vh;
}

hr {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.bgSelect {
    /* background: url("/media/cardbg/redblack.jpg"); */
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 5%;
    cursor: pointer;
}

#formDiv {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
}

.mainDiv {
    display: flex;
    justify-content: center;
}

#mainImg {
    width: 50vh;
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5vh;
}

input {
    width: 40vh;
    height: 5vh;
    padding: 1vh;
    margin: 2vh;
}

#abilDiv {
    width: 45vh;
    height: 25vh;
}

.nameClass {
    background-color: white;
    margin: 1vh 4vh 0vh 4vh;
    padding: 1vh;
    font-family: Helvetica, sans-serif;
}

.imgClass {
    background-color: white;
    margin: 1vh 4vh 0vh 4vh;
    padding: 1vh;
    width: 50%;
}

select {
    width: 40vh;
    height: 5vh;
    padding: 1vh;
    margin: 2vh;
}